.main{
    margin: 30px;
    background-color: white;
}
body{
    background-color: #efefef;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img-rounded{
    width: 38px;
    height: 38px;
}
.profileSection{
    margin-top: 15px;
}
.question-hr{
    margin: 5px;
}
.question-menu{
    color: #999999;
    font-size: 13px;
}

.original-error{
    margin: 30px;
}